<template>
    <div class="card p-3 border-width-2 border-color-1 borders-radius-17">
        <div class="text-gray-9 font-size-14 pb-2 border-color-1 border-bottom mb-3">{{ $t('availability') }}:
            <span v-if="product.in_stock" class="text-green font-weight-bold">{{ $t('in_stock') }}</span>
            <span v-else class="text-red font-weight-bold">{{ $t('out_of_stock') }}</span>
        </div>
        <div class="mb-3 row">
            <div class="price-block col-6 col-md-7 pr-sm-3 pr-1">
                <div class="new-fs font-size-36">
                    <span v-if="this.isRoundByList() || this.isRoundByBox()" v-html="this.calcPricePerlist()"></span>
                    <span v-if="this.isRoundByList() || this.isRoundByBox()"
                          class="font-size-14">{{ product.currency_price_valute }}</span>

                    <span v-if="this.isRollProduct()" v-html="this.product.price_roll"></span>
                    <span v-if="this.isRollProduct()" class="font-size-14">{{ product.currency_price_valute }}</span>

                    <span v-if="this.isPieceProduct()" v-html="product.currency_price"></span>
                    <span v-if="this.isPieceProduct()" class="font-size-14">{{ product.currency_price_valute }}</span>
                </div>
                <div class="font-size-20 text-gray-9">
                    <span v-if="!(this.isPieceProduct())" v-html="this.calcCurrencyTypePrice()"></span>
                </div>
            </div>
            <div class="cheapest-block col-6 col-md-5 d-flex justify-content-end align-items-center pl-sm-3 pl-1">
                <div id="myDiv"
                     class="border border-color-1 borders-radius-17 p-2 text-center hover-tab">
                    <div class="font-size-14 mb-1">{{ $t('found_cheaper') }}</div>
                    <div class="font-size-14 text-green"><u>{{ $t('write_message') }}</u></div>
                </div>
            </div>
        </div>
        <div class="mb-3" v-if="this.isListProduct() || this.isListXpsProduct() || this.isRollProduct()">
            <div class="p-3 borders-radius-17 bg-gray-3">
                <div class="text-center mb-2">
                    <h5 class="m-0 border-bottom border-warning border-width-2 d-inline-block lh-1dot5rem">
                        {{ $t('calc_qty') }}</h5>
                </div>
                <div class="row">
                    <div :class="this.doneCalculated ? 'col-6' : 'col-12'">
                        <p class="mb-1">{{ $t('i_need') }}:</p>
                        <div class="form-group form-calc">
                            <input type="number" class="form-control py-0 height-35"
                                   id="inputValue" min="0.01" step="0.01" v-model="calc_qty_need" :placeholder="$t('select_qty')">
                        </div>
                        <div class="form-group d-flex justify-content-around flex-wrap">
                            <div class="form-check" v-if="this.isListProduct() || this.isListXpsProduct() || this.isRollProduct()">
                                <input class="form-check-input" type="radio" name="calc_type"
                                       id="option1" v-model="calc_type" value="square">
                                <label class="form-check-label" v-html="$t('price_square')"
                                       @click="this.setCalcType('square')"></label>
                            </div>

                            <div class="form-check" v-if="this.isListProduct() || this.isListXpsProduct()">
                                <input class="form-check-input" type="radio" name="calc_type"
                                       id="option2" v-model="calc_type" value="cubic">
                                <label class="form-check-label" v-html="$t('price_cubic')"
                                       @click="this.setCalcType('cubic')"></label>
                            </div>

                            <div class="form-check" v-if="this.isListProduct() || this.isListXpsProduct() || this.isRollProduct()">
                                <input class="form-check-input" type="radio" name="calc_type"
                                       id="option3" v-model="calc_type" value="piece">
                                <label class="form-check-label" v-html="$t('price_piece')"
                                       @click="this.setCalcType('piece')"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" v-if="this.doneCalculated">
                        <p class="mb-1">{{ $t('calc_result') }}:</p>
                        <ul class="px-3">
                            <li v-if="this.isRollProduct()">{{ $t('rolls') }}: <strong>{{
                                    this.calc_total_rolls
                                }}</strong></li>

                            <li v-if="this.isListProduct() || this.isListXpsProduct()">{{ $t('lists') }}: <strong>{{
                                    this.calc_total_lists
                                }}</strong></li>

                            <li v-if="this.isListProduct() || this.isListXpsProduct()">{{ $t('boxes') }}: <strong>{{
                                    this.calc_total_boxes
                                }}</strong></li>

                            <li v-if="this.isListProduct() || this.isListXpsProduct() || this.isRollProduct()"><span
                                v-html="$t('price_square') + ':'"></span> <strong v-html="this.calc_total_m2"></strong>
                            </li>

                            <li v-if="this.isListProduct() || this.isListXpsProduct()"><span v-html="$t('price_cubic') + ':'"></span> <strong
                                v-html="this.calc_total_m3"></strong></li>
                        </ul>
                    </div>

                    <div class="col-12 mt-1 d-flex justify-content-center">
                            <button @click="this.Calculate()" type="button" class="btn py-0 height-35 btn-dark btn-block w-75">
                                <i class="fa fa-calculator pr-1"></i>
                                {{ $t('calc') }}
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-12">
                <div class="thickness-select mb-3" v-if="this.thickness_list.length && (this.isRoundByList() || this.isRoundByBox())">
                    <h6 class="font-size-14">{{ $t('thickness') }}:</h6>
                    <div class="option-container d-flex">
                        <button
                            v-for="(t, i) in this.thickness_list"
                            :key="i"
                            class="option-button btn btn-outline-secondary btn-sm mx-1"
                            :class="{ active: this.thickness === t.value }"
                            @click="this.thickness = t.value"
                        >
                            <span class="option-text d-flex justify-content-center align-items-center">{{ t.value }}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 py-2 d-block">
                <h6 class="font-size-14 col-12 mb-0 pl-0 pr-0">{{ $t('quantity') }}:</h6>

                <div class="d-flex align-items-center box-adaptive">
                    <div class="col-12 block-adaptive pl-0 pr-0" v-if="getPlaceholderText() === ''">
                        <div class="border rounded-pill py-1 w-md-100 height-35 px-3 border-color-1">
                            <div class="js-quantity row align-items-center">
                                <div class="col pr-1">
                                    <input
                                        class="js-result form-control h-auto border-0 rounded p-0 shadow-none"
                                        type="text" v-model="calc_qty_cart">
                                </div>
                                <div class="col-auto pr-1 pl-1">
                                    <button type="button" class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                                        @click="this.decQty()">
                                        <small class="fas fa-minus btn-icon__inner"></small>
                                    </button>
                                    <button type="button" class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                                        @click="this.incQty()">
                                        <small class="fas fa-plus btn-icon__inner"></small>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-5 block-adaptive pr-1 pl-0" v-if="getPlaceholderText() !== ''">
                        <div class="border rounded-pill py-1 w-md-100 height-35 px-3 border-color-1">
                            <div class="js-quantity row align-items-center">
                                <div class="col pr-1">
                                    <input
                                        class="js-result form-control h-auto border-0 rounded p-0 shadow-none"
                                        type="text" v-model="calc_qty_cart">
                                </div>
                                <div class="col-auto pr-1 pl-1">
                                    <button type="button" class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                                        @click="this.decQty()">
                                        <small class="fas fa-minus btn-icon__inner"></small>
                                    </button>
                                    <button type="button" class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                                        @click="this.incQty()">
                                        <small class="fas fa-plus btn-icon__inner"></small>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-7 pl-0 block-adaptive pr-0 pl-1" v-if="getPlaceholderText() !== ''">
                        <div class="rounded-pill p-2 text-center height-44 text-gray-9 notification-block"
                            style="border: solid 1px #fed700;">
                            <p v-html="getPlaceholderText()" class="mb-0"></p>
                            <p v-html="getPlaceholderTextSecond()" class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 pb-0dot5">
            <button type="button" @click="this.$store.dispatch('addToCart', {'id': this.product.id, 'q': this.calc_qty_cart, 'thickness': this.thickness})"
                    class="btn btn-block btn-primary-dark">
                <i class="ec ec-add-to-cart mr-1 font-size-20"></i>
                {{ $t('add_to_cart') }}
                <span> | {{ $t('add_to_cart_long') }}</span>
            </button>

        </div>
        <div class="mb-3">
            <button type="button" id="consultationBtn" class="btn btn-block btn-dark">
                {{ $t('consultation') }}
            </button>
        </div>
        <div class="d-flex justify-content-around">
            <button type="button" @click="this.$store.dispatch('addToWishlist', {'product_id': this.product.id})" class="text-gray-6 font-size-13 mr-2 addToWishListBtn">
               <i class="ec ec-favorites mr-1 font-size-15"></i>
               {{ $t('add_wishlist') }}
            </button>

            <button type="button" @click="this.$store.dispatch('addToCompare', {'product_id': this.product.id})" class="text-gray-6 font-size-13 ml-2 addToCompareBtn">
               <i class="ec ec-compare mr-1 font-size-15"></i>
               {{ $t('add_compare') }}
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['product', 'thickness_list'],

    data() {
        return {
            calc_qty_need: null,
            calc_type: "square",
            calc_total_m2: 0,
            calc_total_m3: 0,
            calc_total_lists: 0,
            calc_total_boxes: 0,
            calc_total_rolls: 0,
            calc_qty_cart: 1,
            thickness: this.thickness_list[0].value
        }
    },

    mounted() {
        //мин. количество для заказа по умолчанию
        if (this.isRoundByBox()) {
            let num_in_box = this.getSelectedNumInBox();
            if(num_in_box){
                this.calc_qty_cart = num_in_box;
            }else{
                this.calc_qty_cart = this.product.num_in_box;
            }
        }
    },

    computed: {
        doneCalculated() {
            return this.calc_total_lists || this.calc_total_rolls || this.calc_total_m2 || this.calc_total_m3 || this.calc_total_boxes;
        }
    },
    methods: {
        reset() {
            this.calc_total_m2 = 0;
            this.calc_total_m3 = 0;
            this.calc_total_lists = 0;
            this.calc_total_boxes = 0;
            this.calc_total_rolls = 0;
        },

        incQty() {
            if (this.isRoundByBox()) {
                let num_in_box = this.getSelectedNumInBox();
                if(num_in_box){
                    this.calc_qty_cart += num_in_box;
                }else{
                    this.calc_qty_cart += this.product.num_in_box;
                }
            } else {
                this.calc_qty_cart++;
            }
        },

        decQty() {
            if (this.isRoundByBox()) {
                let num_in_box = this.getSelectedNumInBox();
                if(num_in_box){
                    this.calc_qty_cart > num_in_box ? this.calc_qty_cart -= num_in_box : this.calc_qty_cart;
                }else{
                    this.calc_qty_cart > this.product.num_in_box ? this.calc_qty_cart -= this.product.num_in_box : this.calc_qty_cart;
                }
            } else {
                this.calc_qty_cart > 1 ? this.calc_qty_cart-- : this.calc_qty_cart;
            }
        },

        setCalcType(cal_type) {
            this.calc_type = cal_type;
        },

        isListProduct() {
            return this.product.product_type === 1;
        },

        isRollProduct() {
            return this.product.product_type === 2;
        },

        isPieceProduct() {
            return this.product.product_type === 3;
        },

        isListXpsProduct() {
            return this.product.product_type === 4;
        },

        isRoundByPiece(){
            return this.product.round_by === 1;
        },

        isRoundByList() {
            return this.product.round_by === 2;
        },

        isRoundByRoll(){
            return this.product.round_by === 3;
        },

        isRoundByBox() {
            return this.product.round_by === 4;
        },

        getPlaceholderText() {
            if(this.isListProduct() || this.isListXpsProduct()){
                if(this.isRoundByBox()){
                    let num_in_box = this.getSelectedNumInBox();
                    if(num_in_box !== ''){
                        let num_in_box = this.getSelectedNumInBox();
                        if(num_in_box){
                            return this.$t('placeholder_list');
                        }
                    }else{
                        return this.$t('placeholder_box');
                    }
                }
            }

            return this.product.placeholder_text || '';
        },

        getPlaceholderTextSecond() {
            if(this.isListProduct() || this.isListXpsProduct()){
                if(this.isRoundByBox()){
                    let num_in_box = this.getSelectedNumInBox();
                    if(num_in_box !== ''){
                        let num_in_box = this.getSelectedNumInBox();
                        if(num_in_box){
                            return this.$t('placeholder_list_second', { x: num_in_box });
                        }
                    }else{
                        return this.$t('placeholder_box_second', { x: num_in_box });
                    }
                }
            }

            return this.product.placeholder_text || '';
        },

        calcPricePerlist() {
            let surface = this.product.surface;
            let price_cubic = this.product.price_cubic;

            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Number(price_cubic * surface).toFixed(2);

            if(this.isListXpsProduct()){
                result = Number(this.getSelectedPrice()).toFixed(2);
            }

            return result || 0;
        },

        calcCurrencyTypePrice(){
            let currency_type_price = this.product.currency_type_price;

            if(this.isListXpsProduct()){
                currency_type_price = `${this.getSelectedPriceCubic()} ${this.$t('lei')} / ${this.$t('price_cubic')}`;
            }

            return currency_type_price;
        },

        calcListByBoxValue() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil(this.calcBoxByListValue() * num_in_box);

            return result || 0;
        },

        calcBoxByListValue() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil(this.calc_qty_need / num_in_box);

            return result || 0;
        },

        calcBoxSquareValue() {
            let result = Number(this.calcListByBoxValue() * this.product.area).toFixed(2);

            return result || 0;
        },

        calcBoxSquareValue2(){
            let result = Number(this.calc_qty_need * this.product.area).toFixed(3);

            return result || 0;
        },

        calcRollSquareValue(){
            let result = Number(this.calc_qty_need * this.product.area).toFixed(3);

            return result || 0;
        },

        calcBoxCubicValue() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Number(this.calcListByBoxValue() * surface).toFixed(4);

            return result || 0;
        },

        calcBoxCubicValue2() {
            let num_in_box = this.getSelectedNumInBox();

            let result = this.calcBoxCubicValue() / num_in_box;

            return result || 0;
        },

        calcListBySquareValue() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil((this.calc_qty_need / (num_in_box * this.product.area))) * num_in_box;

            return result || 0;
        },

        calcListByCubicValue() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil(this.calc_total_boxes * num_in_box);

            return result || 0;
        },

        calcBoxBySquareValue() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil(this.calc_qty_need / (num_in_box * this.product.area));

            return result || 0;
        },

        calcBoxByCubicValue() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil(this.calc_qty_need / (num_in_box * surface));

            return result || 0;
        },

        calcSquareByBoxValue() {
            let result = Number(this.calcListBySquareValue() * this.product.area).toFixed(2);

            return result || 0;
        },

        calcSquareByBoxValue2() {
            let result = Number(this.calc_total_lists * this.product.area).toFixed(2);

            return result || 0;
        },

        calcListBySquareValue2() {
            let result = Math.ceil(this.calc_qty_need / this.product.area);

            return result || 0;
        },

        calcListBySquareValue3() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Math.ceil(this.calc_qty_need / surface);

            return result || 0;
        },

        calcBoxBySquareValue2() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.floor(this.calcListBySquareValue2() / num_in_box);

            return result || 0;
        },

        calcBoxBySquareValue3() {
            let num_in_box = this.product.num_in_box;
            if(this.getSelectedNumInBox()){
                num_in_box = this.getSelectedNumInBox();
            }

            let result = Math.ceil(this.calc_total_lists / num_in_box);

            return result || 0;
        },

        calcSquareBySquareValue() {
            let result = Number(this.calcListBySquareValue2() * this.product.area).toFixed(2);

            return result || 0;
        },

        calcSquareBySquareValue2() {
            let result = Number(this.calc_total_lists * this.product.area).toFixed(2);

            return result || 0;
        },

        calcCubicBySquareValue() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Number(this.calcListBySquareValue2() * surface).toFixed(4);

            return result || 0;
        },

        calcCubicBySquareValue2() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Number(this.calc_total_lists * surface).toFixed(4);

            return result || 0;
        },

        calcCubicByBoxValue() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Number(this.calcListBySquareValue() * surface).toFixed(4);

            return result || 0;
        },

        calcCubicByBoxValue2() {
            let surface = this.product.surface;
            if(this.isListProduct() || this.isListXpsProduct()){
                surface = this.getSelectedSurface();
            }

            let result = Number(this.calc_total_lists * surface).toFixed(4);

            return result || 0;
        },

        getMinBuyList() {
            return this.product.num_in_box;
        },

        getSelectedSurface(){
            let surface = 0;

            let thickness_item = this.thickness_list.filter((el) => el.value === this.thickness);
            if(thickness_item.length){
                surface = thickness_item[0].surface;
            }

            return surface;
        },

        getSelectedNumInBox(){
            let num_in_box = '';

            let thickness_item = this.thickness_list.filter((el) => el.value === this.thickness);
            if(thickness_item.length){
                num_in_box = thickness_item[0].num_in_box;
            }

            return num_in_box;
        },

        getSelectedPrice(){
            let price = 0;

            let thickness_item = this.thickness_list.filter((el) => el.value === this.thickness);
            if(thickness_item.length){
                price = thickness_item[0].price;
            }

            return price;
        },

        getSelectedPriceCubic(){
            let price = 0;

            let thickness_item = this.thickness_list.filter((el) => el.value === this.thickness);
            if(thickness_item.length){
                price = thickness_item[0].price_cubic;
            }

            return price;
        },

        Calculate() {
            if (!this.calc_qty_need) {
                alert(this.$t('select_qty'));
                return;
            }

            this.reset();

            switch (this.calc_type) {
                case "square":
                    if (this.isRoundByBox()) {
                        this.calc_total_lists = this.calcListBySquareValue();
                        this.calc_total_boxes = this.calcBoxBySquareValue();
                        this.calc_total_m2 = this.calcSquareByBoxValue();
                        this.calc_total_m3 = this.calcCubicByBoxValue();

                        this.calc_qty_cart = this.calc_total_lists;
                    } else if (this.isRoundByList()) {
                        this.calc_total_lists = this.calcListBySquareValue2();
                        this.calc_total_boxes = this.calcBoxBySquareValue2();
                        this.calc_total_m2 = this.calcSquareBySquareValue();
                        this.calc_total_m3 = this.calcCubicBySquareValue();

                        this.calc_qty_cart = this.calc_total_lists;
                    } else {
                        this.calc_total_rolls = this.calcListBySquareValue2();
                        this.calc_total_m2 = this.calcSquareBySquareValue();

                        this.calc_qty_cart = this.calc_total_rolls;
                    }
                    break;
                case "cubic":
                    if (this.isRoundByBox()) {
                        this.calc_total_boxes = this.calcBoxByCubicValue();
                        this.calc_total_lists = this.calcListByCubicValue();
                        this.calc_total_m2 = this.calcSquareByBoxValue2();
                        this.calc_total_m3 = this.calcCubicByBoxValue2();

                        this.calc_qty_cart = this.calc_total_lists;
                    } else if (this.isRoundByList()) {
                        this.calc_total_lists = this.calcListBySquareValue3();
                        this.calc_total_boxes = this.calcBoxBySquareValue3();
                        this.calc_total_m2 = this.calcSquareBySquareValue2();
                        this.calc_total_m3 = this.calcCubicBySquareValue2();

                        this.calc_qty_cart = this.calc_total_lists;
                    }

                    break;
                case "piece":
                    if (this.isRoundByPiece()) {
                        this.calc_total_lists = this.calcListByBoxValue();
                        this.calc_qty_cart = this.calc_total_lists;
                        this.calc_total_m2 = this.calcBoxSquareValue();
                    } else if (this.isRoundByBox()) {
                        this.calc_total_lists = this.calc_qty_need;
                        this.calc_qty_cart = this.calc_total_lists;
                        this.calc_total_m2 = this.calcBoxSquareValue();
                    } else if (this.isRoundByRoll()) {
                        this.calc_total_rolls = this.calc_qty_need;
                        this.calc_qty_cart = this.calc_total_rolls;
                        this.calc_total_m2 = this.calcRollSquareValue();
                    } else if (this.isRoundByList()){
                        this.calc_total_lists = this.calc_qty_need;
                        this.calc_total_m2 = this.calcBoxSquareValue2();
                    }

                    this.calc_total_boxes = this.calcBoxByListValue();

                    this.calc_total_m2 = this.calcBoxSquareValue2();
                    this.calc_total_m3 = this.calcBoxCubicValue2();

                    break;
            }
        }
    },

    watch:{
        'thickness'(new_thickness){
            if(this.isRoundByBox()){
                this.product.surface = this.getSelectedSurface();

                let num_in_box = this.getSelectedNumInBox();
                if(num_in_box){
                    this.calc_qty_cart = num_in_box;
                }
            }else{
                this.product.surface = Number(
                    this.product.width / 1000 *
                    this.product.length / 1000 *
                    new_thickness / 1000
                ).toFixed(3);
            }
        }
    }
}
</script>
